{% extends 'base.html' %}

{% block content %}
    <head>
    <style>
        .images{
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: cyan;
}
        .card-img-top{
            width: 560px;
            height: 400px;
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    </style>
    </head>
        <div class="images">
            <img src="{{ book.image.url }}" class="card-img-top" alt="..." >
        </div>
        <div class="desc">
            <h2><upper>Nomi: <span style="font-style: oblique">{{ book.title }}</span></upper></h2><br>
            <h5><upper>Author: <span style="font-style: oblique">{{ book.author.name }}</span></upper></h5><br>
        </div>





{% endblock content %}
